/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    border:1px solid #ddd; width: auto;
    cursor: text;
    font-size: 13px;
    font-family: Arial;
    z-index: 999;
    margin: 3px 0 0px 0;
    padding: 0px;
    background-color: #fff;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}

ul.token-input-list li {float:left; width:auto;
    list-style-type: none;
}

ul.token-input-list li input {
    font-size: 14px;
    font-family: Arial;
    border: 0;
    width: auto;

margin: 0px 0 3px 0;
    padding: 5px 2px 2px 8px;
    background-color: white;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(82,168,236,.6);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(82,168,236,.6);
}

ul.token-input-list li input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(82,168,236,.6);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(82,168,236,.6);
}

li.token-input-token {
    font-size: 13px;
    font-family: Arial;
    overflow: hidden; 
    height: auto !important; 
    height: auto;
    margin: 3px 3px 0px 3px;
    padding: 2px 5px 1px;
background-color: #DEE79C; color:#546102;
    font-weight: normal;
    cursor: default;
    display: block;
    float: left;
border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}

li.token-input-token p {
font: normal 13px Arial, Verdana, serif;
    float: left;
padding: 1px 0px 2px 4px;
    margin: 0;
}

li.token-input-token span {
    padding: 0px 0px 2px 0px;
margin: 1px 0px 0px 6px;
    width: 16px;
    height: 16px;
    float: left;
    display: block;
text-indent: -9999px;
background-color: transparent;
background-position: 0px 0px; background-repeat: no-repeat; 
background-image: url("close.png");
    color: #777;
    cursor: pointer;
border: 0px;
}

li.token-input-selected-token {
background-color: #FED483; color:#C05201;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 430px;
    background-color: #fff;
    overflow: hidden;
border: 1px solid #ddd;
    cursor: default;
font: normal 14px Arial, Verdana, serif;
    z-index: 1;
    margin: 3px 0 0 170px;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}

div.token-input-dropdown p {

    padding: 2px 5px 2px 5px;
    font-weight: normal;
    color: #747474;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
font: normal 14px Arial, Verdana, serif; line-height: 1.2em;
border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 3px 5px 3px 5px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: normal;
    font-style: normal;
color: #535151;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
color:#546102; background-color: #E5F199;
}

