html{height: 101%;}
body { font-family: 'Droid Serif', serif; font-size: 13px; line-height: 18px; color: #333333; background-color: #ffffff; padding-top: 60px;   background-image: url("../img/back.jpg");}

a {
  color: #008b8b;
  text-decoration: none;
}
a:hover {
  color: #095858;
  text-decoration: underline;
}

h1{margin-bottom: 12px;}
h1 small {line-height: 26px; }
.cb {clear: both; display: block;}
.fl {float: left;}

.mt2{margin-top:2px;}
.mt4{margin-top:4px;}
.mb2{margin-bottom:2px;}
.mb4{margin-bottom:4px;}
.footer { margin-top:10px; border-top: 1px solid #ddd; padding-top: 10px; font-size: 0.85em; line-height: 1.1em;}
.footerwho{text-align: right;}

/* nadpisanie Bootstrap ----------------------------------------- */
.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
border: 1px solid #eee;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 8px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}
.container a.brand{  font-size: 34px; color: #008b8b; background-image: url('../img/riupress.png');background-repeat: no-repeat; background-position: 20px 6px; padding-left: 65px; }
.container a.brand span{color: #474749;}
.container a.brand span.subtitle{  font-size: 14px; color: #474749;}

.nav-collapse ul.nav{margin-top: 6px; height: auto;}
.nav-collapse ul.nav li a{font-size: 12px; padding: 12px 10px 6px; border-left: 1px solid #eee; color: #474749;}
.nav-collapse ul.nav{float: right;}
.nav-collapse ul.nav li a i{ opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6;
}
.nav-collapse ul.nav li.active a i, .nav-collapse ul.nav li a:hover i{ opacity: 0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; color: #474749;
}
 .nav-collapse ul.nav > li > a:hover {
  color: #333;
    background-color: transparent;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #474749;
  text-decoration: none;
  background-color: transparent;
}
.navbar-inner {
  min-height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  background-image: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0), inset 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0), inset 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0), inset 0 0 0 rgba(0,0,0,0);
border-bottom: 1px solid #eee;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #333;
  border-bottom-color: #333;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: #333;
  border-bottom-color: #333
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #333
  text-decoration: none;
  background-color: #f1f1f1;
}

table.table td a{ margin-bottom: 3px;}
table.table td.termtd{ width: 70%;}
.table-striped tbody tr.activetrcat td,
.table-striped tbody tr.activetrcat th {
  background-color: #E9F9A7;
}
.table tbody tr:hover.activetrcat td,
.table tbody tr:hover.activetrcat th {
  background-color: #DCEE91;
}

/* menu kategorii */
.nav-stacked > li {float: none; }
.nav-tabs.nav-stacked > li > a {border: 1px solid #eee; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.nav-tabs.nav-stacked > li > a:hover { border-color: #eee; background-color: #f5f5f5; z-index: 2;}
.nav-tabs.nav-stacked > li > a.menu{font-size: 1.6em;}
.nav-tabs.nav-stacked > li > a.menu span, .nav-tabs.nav-stacked > li > a:hover.menu span{font-size: 0.6em; color: #999;}
.nav-stacked > li > ul{float: none; list-style: none;  margin-left: 0; border-left: 1px solid #eee; border-right: 1px solid #eee; }
.nav-stacked > li > ul > li{float: none; list-style: circle;  display: block;   border-bottom: 1px solid #eee; }
.nav-stacked > li > ul > li a{  padding: 6px 15px 6px 14px; display: block;   }
.nav-stacked > li > ul > li a:hover{ background-color: #f5f5f5; text-decoration: none;}
.nav-stacked > li > ul > li a span,.nav-stacked > li > ul > li a:hover span{font-size: 0.8em; color: #999;}

/* koniec nadpisania ----------------------------------------*/


article img.icon{float: left; margin-right: 10px; margin-top: 3px;}
article {margin-bottom: 10px;  border-bottom: 1px solid #ddd; }
article p.pmeta{margin: 0px 0 4px 0; line-height: 1.0em; font: normal 12px/135% 'Droid Serif', serif; }
article p.pmeta span{color:#666; font: normal 11px/135%  'Droid Serif', serif;}
article p.pmeta a{font: normal 11px/135% 'Droid Serif', serif;}

ul.poll{ list-style: none; margin: 10px 0px 10px; padding: 0px; }
ul.poll li{ list-style: none; clear: both; margin: 0px; padding: 0px; }
ul.poll li span{ margin-left: 10px; font-size: 1.2em; line-height: 1.5em;}

section.ratings{width:auto;  margin-bottom: 10px; margin-right: 0px; font-size: 1.0em;}
section.ratings span{color:#747474;  margin:0px; padding: 0; text-align: left; width: auto: display: block;}
ul.rating, ul.rating a:hover, ul.rating .current{background: url('../img/starrating.gif') left; z-index: 1; float: right; clear: both;}
ul.rating{position: relative; width: 125px; /* 5 stars width */ height: 25px; /* 1 star height */ overflow: hidden; list-style: none; margin: 0px; padding: 0px; background-position: top left; }
ul.rating li{display: inline;}
ul.rating a, ul.rating .current{position: absolute; top: 0; left: 0; text-indent: -9000px; height: 25px; /* 1 star height */ line-height: 25px; /* 1 star height */ outline: none; overflow: hidden; border: none; font-size: 25px; /* 1 star width */}
/* Show stars when hovered */
ul.rating a:hover{background-position: left bottom;}
/* Set each section to the appropriate width, stacking so leftmost is topmost */
ul.rating a.rate1{width: 20%; z-index: 6;}
ul.rating a.rate2{width:40%; z-index: 5;}
ul.rating a.rate3{width:60%; z-index: 4;}
ul.rating a.rate4{width:80%; z-index: 3;}
ul.rating a.rate5{width:100%; z-index: 2;}
ul.rating .current{z-index: 1; background-position: left center; width: auto;}

ul.relations{ margin: 3px 0px 4px 0px; padding: 0px 0px 0px 0px; float: left; clear: both;}
ul.relations li{ list-style: none;  float:left; padding: 0px 0px 0px 0px; margin-bottom: 5px;}
ul.relations li a{float:left; margin-right:4px; padding: 4px 5px 2px 5px; font-size: 1.1em;}
ul.relations li a:hover{text-decoration: underline;}
article.comment header{float: left; width: 10%;}
article.comment section{float: left;  width: 89%;}
article.comment{margin: 0px; padding: 5px 0px 3px;}
article.comment .author{   font-family: inherit; color: inherit;  font-weight: bold; text-rendering: optimizelegibility; font-size: 18px; line-height: 27px;}
article.comment header img{margin-right: 10px; margin-bottom:4px; margin-left: 10px;  margin-top:5px; width: auto;}

@media (min-width: 768px) and (max-width: 979px) {
article.comment header img{width: 30px;}
}
@media (max-width: 767px) {
article.comment header img{width: 30px;}
}
@media (max-width: 979px) {
article.comment header img{width: 35px;}
}
@media (max-width: 480px) {
article.comment header img{width: 20px;}
}
article.comment pre {margin-right: 10px; }

article:nth-child(odd).comment {background-color: #f9f9f9;}
#comments h2{margin-bottom:8px; border-bottom: 1px solid #ddd;}
#commentform{ margin-top: 10px;}
#commentform textarea{min-height: 120px;}

