/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.markItUpEditor {
	height:auto;
	clear:both;
 	display:block;
	overflow:auto;
}
.markItUpFooter {
	width:100%;
	margin:5px 0;
}
.markItUpResizeHandle {
	clear:both;
	float:left;
	overflow:auto;
	width:100%; height:10px; display:block;
	margin: 5px auto 5px auto;
	background:transparent url("images/handle.png") top center no-repeat;
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul{
	float:left; display:block; width:auto; margin:4px 0px 10px 0px; padding:0px;
}
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative; background: #fff; margin-right:2px; ;
}

.markItUpHeader ul li a	{
	padding: 4px;
}

.markItUpHeader ul .markItUpSeparator {
	margin:0 4px 0 0px;
	width:1px;
	height:16px;
	overflow:hidden;
	border:0px; background-color:transparent; color:#ddd;
}
