html{height: 101%;}
.icon{float: left; margin-right: 10px; border: #eee 1px solid;}
.oldicon{float: left; }
.subcat{ margin-left: 25px;}
ul.editormenu{margin: 0px 0 0 15px; padding: 0px; width: auto; border: 0px;}
ul.editormenu li{padding: 0px; width: auto; border: 0px;  margin-bottom: -1px;}

ul.editormenu > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
ul.editormenu > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
ul.editormenu > .active > a,
ul.editormenu > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #eee;
  border-bottom-color: transparent;
  cursor: default;
}

#ui-datepicker-div{display:none;}
span.msg{border: 0px solid #ccc; padding: 3px 6px 3px 6px; font: normal 16px Arial, Verdana, sans-serif; float: left; clear: left;}
span.ok { color:#546102; background-color: #E5F199; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}
span.blad {background-color: #D64937; color:#f8f8f8; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}

ul.newico {float:left; padding: 0px; margin:0px;}
ul.newico li {display: block; list-style-type: none; height:auto; width:114px; float:left; margin-bottom: 5px; margin-right: 4px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
ul.newico li dl, ul.ikony li dt, ul.ikony li dd {display: block; float: left; height: 100%;}
ul.newico li dl { display:block; float: left; padding:0px;}
ul.newico li dt { width: 92px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; float:left; text-align: center; background-color: #f9f9f9;}
ul.newico li dt img { padding: 6px; width: 80px;}
ul.newico li dt em{ color:#999999;}
ul.newico li dd {width: 19px; float:left; margin-top: 6px;  -moz-border-radius-topright: 6px/*{cornerRadius}*/; -webkit-border-top-right-radius: 6px/*{cornerRadius}*/; border-top-right-radius: 6px/*{cornerRadius}*/; -moz-border-radius-bottomright: 6px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 6px/*{cornerRadius}*/; border-bottom-right-radius: 6px/*{cornerRadius}*/; background-color: #f1f1f1; padding: 0px; margin:5px 0 0 0;}
ul.newico li dt a{ font: bold 15px Arial, Verdana, serif;}
ul.newico li dd a{background-repeat: no-repeat; display:block; width:16px; height:16px; margin-top:2px; float:left; margin: 5px 3px 5px 0px; }

ul.oldico {float:left;padding: 0px; margin:0px;}
ul.oldico li {display: block; list-style-type: none; height:auto; width:134px; float:left; margin-bottom: 5px; margin-right: 4px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
ul.oldico li dl, ul.ikony li dt, ul.ikony li dd {display: block; float: left; height: 100%;}
ul.oldico li dl { display:block; float: left; padding:0px;}
ul.oldico li dt { width: 140px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; float:left; text-align: center; background-color: #f9f9f9;}
ul.oldico li dt img { padding: 6px; width: 128px;}


ul.tagi, ul.powiazane{clear: both; left: 0px; text-align: left; float: left; position: relative; padding: 0px; margin:0px;}
ul.tagi li, ul.powiazane li, ul.lokacje li, ul.kiedy li, ul.zaile li{  list-style: none; list-style-image: none; background-color:#E5E5E5; padding:3px 6px 3px 6px; float:left; margin-right:6px; margin-bottom:10px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size:14px; color: #535151; }
ul.tagi li span, ul.powiazane li span, ul.lokacje li span, ul.kiedy li span, ul.zaile li span{float:right; clear:both; font-size:9px; line-height:8px; color:#D84629}
ul.tagi li a.listowany, ul.powiazane li a.listowany, ul.lokacje li a.listowany, ul.kiedy li a.listowany, ul.zaile li a.listowany{float:left; margin-right:4px; color: #535151; font-weight: normal;}
a.deletevalue{background-image: url("../img/close.png");background-repeat: no-repeat; display:block; text-indent:-9999px; width:14px; height:14px;  float:left; color: #535151;}
a.ajaxfastdelete, a.fastdelete{background-image: url("../img/close.png");background-repeat: no-repeat; display:block; text-indent:-9999px; width:14px; height:14px;  float:left; color: #535151;}
/* akcje */
ul.taby{margin: 8px 0px 6px 0px; border-bottom: #ddd 1px solid; width: 468px; display: block; height: 25px; text-transform:lowercase; clear: both; left: 0px; text-align: left; float: left; position: relative; padding: 0px;}
ul.taby li{display: block; list-style-type: none; height:auto; width:auto; float:left;}
ul.taby li a{padding: 4px 6px 3px 6px; font: normal 12px/130% 'lucida grande', tahoma, verdana, arial, sans-serif; display:block; background-color: #f9f9f9; border: #ddd 1px solid; margin-right:5px; color: #333; border-bottom: #fff 1px solid; margin-bottom: 1px;}
ul.taby li a.active {background-color: #fff; border: #ddd 1px solid; margin-right:5px; color: #111; border-bottom: #fff 4px solid; font: bold 12px/130% 'lucida grande', tahoma, verdana, arial, sans-serif; margin-right:5px;}
.mtaba, .taba{display:none;}
.tabstart, .mtaba.active, .taba.active{display:block;}
