/* akcje */

ul.ikony {float:left; margin:0; padding:0;}
ul.ikony li {display: block; list-style-type: none; height:auto; width:70px; float:left; border-bottom: #f3f2f2 1px solid; margin-bottom: 5px; margin-right: 5px; background-color:#f1f1f1;  border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; margin:0 5px 5px 0; padding:0;}
ul.ikony li dl, ul.ikony li dt, ul.ikony li dd {display: block; float: left; height: 100%;}
ul.ikony li dl { display:block; float: left; padding:5px; background-position: 10px 10px; background-repeat: no-repeat; background-image: url("../img/grupy.png");}
ul.ikony li dt { width: auto;}
ul.ikony li dt img {border:1px solid #ddd; padding: 4px; background-color:#fff;}
ul.ikony li dt em{ color:#999999;}
ul.ikony li dd {width: 28px;  display:block; float:right; margin:6px 0 0 0; padding:0;}
ul.ikony li dd.del {border-left: 1px solid #ddd;}
ul.ikony li dt a{ font: bold 15px Arial, Verdana, serif;}
ul.ikony li dd a{background-repeat: no-repeat; display:block; text-indent:-9999px; width:16px; height:16px; margin-top:2px; float:left; margin: 0px 6px 0px 6px;}

ul.ikony li dd a.usun{background-image: url("../img/close.png");}
ul.ikony li dd a.edytuj{background-image: url("../img/gtk-edit.png");}



